.name{
    color: red;
    font-size: 30px;
    font-family: 'Trebuchet MS';
}
.roll
{
    color: black;
    font-size: 30px;
}
.blood{
color: black;
font-size: 30px;
}
.dob{
    color: black;
    font-size: 30px;
}